@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');

:root {
    --fontLF: "Libre Franklin", sans-serif;
    --fontIBM: "IBM Plex Mono", sans-serif;
    --colorGreen: #5AB963;
}

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}